{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column">

    </div>
    <div class="column is-three-quarters">
        <div name="input-playlist-id" class="block">
            <form method="POST" name="url_form" action="/index_post">
                <div class="field is-horizontal has-addons ">
                    <div class="control has-addons is-expanded">
                        {{ url_form.csrf_token }}
                        {{ url_form.url(class_ = "input") }}
                    </div>
                    <div class="control">
                        <button class="button is-info">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div name="playlist-info" class="columns block">
            <div class="column is-one-third">
                <div class="img-playlist-cover">
                    <figure class="image is-inline-block">
                        <img src="{{ playlist_info['img_url']}}">
                    </figure>
                </div>
            </div>
            <div class="column has-text-left">
                <p class = "title is-1"> <a href="{{ playlist_info['url'] }}" class="no-hover-links" target="_blank"> {{ playlist_info['name'] }} </a></p>
                <p class = "subtitle is-3"> created by {{ playlist_info['creator'] }}</p>
                <p> Total count: {{ playlist_info['total_count'] }} tracks. </p>
                <p> Total duration: {{ playlist_info['hours'] }} hours and {{ playlist_info['minutes'] }} minutes. </p>
            </div>
        </div>

        <div name="top-info" class="columns block">
            <div class="column is-half">
                <p class = "title is-2"> Top artists </p>

                <div class="img-playlist-cover">
                    <figure class="image is-inline-block">
                        <img src="{{ playlist_info['top_artist'][0]['url_photo']}}">
                    </figure>
                </div>
            
                <table class="top-table">
                    <thead>
                        <tr> 
                            <td> 1. </td> 
                            <td> {{ playlist_info['top_artist'][0]["name"] }}</td>
                            <td> {{ playlist_info['top_artist'][0]["count"] }} tracks. </td>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for artist in playlist_info['top_artist'][1:] %}
                            <tr> 
                                <td> {{ loop.index+1 }}. </td> 
                                <td> {{ artist["name"] }}.</td>
                                <td> {{ artist["count"] }} tracks.</td>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="column">
                <p class = "title is-2"> Top albums </p>

                <div class="img-playlist-cover">
                    <figure class="image is-inline-block">
                        <img src="{{ playlist_info['top_album'][0]['url_photo']}}">
                    </figure>
                </div>

                <table class="top-table">
                    <thead>
                        <tr> 
                            <td> 1. </td> 
                            <td> {{ playlist_info['top_album'][0]["name"] }} by {{ playlist_info['top_album'][0]["artist"] }}</td>
                            <td> {{ playlist_info['top_album'][0]["count"] }} tracks. </td>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for album in playlist_info['top_album'][1:] %}
                            <tr> 
                                <td> {{ loop.index+1 }}. </td> 
                                <td> {{ album["name"] }} by {{ album["artist"]}}. </td>
                                <td> {{ album["count"] }} tracks.</td>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div name="audio-parameters">
            {% for stat in statistics_data %}
                <div class="block">
                    <div>
                        <p class = "title is-2">{{ stat["name"] |capitalize }} </p>
                        <p class="content"> {{stat["desc"] }} </p>
                        <p> Staty</p>
                    </div>

                    <div class="columns">
                        <div class="column is-two-thirds">
                            <div id='{{ stat["name"] }}plot' class='{{ stat["name"] }}plot'></div>

                            <script type='text/javascript'>                               
                                plotPlotly({{ stat["plot"] | safe }}, "{{ stat["name"] }}plot")
                            </script>
                        </div>
                        
                        <div class="column is-one-third">
                            <div class = "block">
                                <p class="title is-4">Top values</p>
                                <table class="table top-table is-fullwidth">
                                    <thead>
                                        <tr> 
                                            <td> 1. </td> 
                                            <td> {{ stat["top_titles"][0] }} by {{ stat["top_artists"][0] }}</td>
                                            <td> {{ stat["top_values"][0]}} </td>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in range(1, stat["top_values"]|length) %}
                                            <tr> 
                                                <td> {{ i+1 }}</td> 
                                                <td> {{ stat["top_titles"][i] }} by {{ stat["top_artists"][i] }}</td>
                                                <td> {{ stat["top_values"][i]}} </td>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>  
                            </div>
                            <div class = "block">
                                <p class="title is-4">Lowest values</p>
                                <table class="table top-table is-fullwidth">
                                    <thead>
                                        <tr> 
                                            <td> 1. </td> 
                                            <td> {{ stat["bot_titles"][0] }} by {{ stat["bot_artists"][0] }}</td>
                                            <td> {{ stat["bot_values"][0]}} </td>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in range(1, stat["bot_values"]|length) %}
                                            <tr> 
                                                <td> {{ i+1 }}</td> 
                                                <td> {{ stat["bot_titles"][i] }} by {{ stat["bot_artists"][i] }}</td>
                                                <td> {{ stat["bot_values"][i]}} </td>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                    </div>  
                    
                </div>                    
            {% endfor %}
        </div>
    </div>
    <div class="column">

    </div>
</div>
{% endblock %}