{% extends "base.html" %}

{% block content %}

<div class="column is-10 is-offset-1">
    <div name="input-playlist-id" class="block">
        <form method="POST" name="url_form" action="/p_comp_post">
            <div class="field is-horizontal has-addons ">
                <div class="control has-addons is-expanded">
                    {{ url_form.csrf_token }}
                    {{ url_form.url1(class_ = "input") }}
                    {{ url_form.url2(class_ = "input") }}
                </div>
                <div class="control">
                    <button class="button is-info">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <!-- <div name="playlist-info" class="columns block">
        <div class="column is-one-third">
            <div class="img-playlist-cover">
                <figure class="image is-inline-block">
                    <img src="{{ playlists_info[0]['img_url']}}">
                </figure>
            </div>
        </div>
        <div class="column has-text-left">
            <p class = "title is-1"> {{ playlists_info[0]['name'] }} </p>
            <p class = "subtitle is-3"> created by {{ playlists_info[0]['creator'] }}</p>
            <p> Total count: {{ playlists_info[0]['total_count'] }} tracks. </p>
            <p> Total duration: {{ playlists_info[0]['hours'] }} hours and {{ playlists_info[0]['minutes'] }} minutes. </p>
        </div>
    </div>

    <div name="playlist-info" class="columns block">
        
        <div class="column has-text-right">
            <p class = "title is-1"> {{ playlists_info[1]['name'] }} </p>
            <p class = "subtitle is-3"> created by {{ playlists_info[1]['creator'] }}</p>
            <p> Total count: {{ playlists_info[1]['total_count'] }} tracks. </p>
            <p> Total duration: {{ playlists_info[1]['hours'] }} hours and {{ playlists_info[1]['minutes'] }} minutes. </p>
        </div>
        <div class="column is-one-third">
            <div class="img-playlist-cover">
                <figure class="image is-inline-block">
                    <img src="{{ playlists_info[1]['img_url']}}">
                </figure>
            </div>
        </div>
    </div> -->

    <div name="playlist-info" class="columns block is-comp">
        <div class="column is-half red-border">
            <div class="img-playlist-cover">
                <figure class="image is-inline-block">
                    <img src="{{ playlists_info[0]['img_url']}}">
                </figure>
            </div>
        </div>
        <div class="column is-half blue-border">
            <div class="img-playlist-cover">
                <figure class="image is-inline-block">
                    <img src="{{ playlists_info[1]['img_url']}}">
                </figure>
            </div>
        </div>
    </div>

    <div name="playlist-info" class="columns block">
        <div class="column has-text-left">
            <p class = "title is-1"> <a href="{{ playlists_info[0]['url'] }}" class="no-hover-links" target="_blank"> {{ playlists_info[0]['name'] }} </a> </p>
            <p class = "subtitle is-3"> created by {{ playlists_info[0]['creator'] }}</p>
            <p> Total count: {{ playlists_info[0]['total_count'] }} tracks. </p>
            <p> Total duration: {{ playlists_info[0]['hours'] }} hours and {{ playlists_info[0]['minutes'] }} minutes. </p>
        </div>
        <div class="column has-text-left">
            <p class = "title is-1"> <a href="{{ playlists_info[1]['url'] }}" class="no-hover-links" target="_blank"> {{ playlists_info[1]['name'] }} </a> </p>
            <p class = "subtitle is-3"> created by {{ playlists_info[1]['creator'] }}</p>
            <p> Total count: {{ playlists_info[1]['total_count'] }} tracks. </p>
            <p> Total duration: {{ playlists_info[1]['hours'] }} hours and {{ playlists_info[1]['minutes'] }} minutes. </p>
        </div>
    </div>

    <div class="content block">
        <p> Playlist n1 contains songs of n unique artists and n unique albums. 
            Playlist n2 contains songs of n unique artists and from n unique albums. 
            Tracks made by n artists appear on both playlists.</p>
        <p> Total number of n songs appear on playlist n1. Total number of n songs appear on playlist n2. There is n songs that
            appear on both playlists.
        </p>
    </div>


    <div name="audio-parameters" class="block">
        {% for stat in statistics_data %}
            <div class="block">
                <div>
                    <p class = "title is-2">{{ stat["name"] |capitalize }} </p>
                    <p> {{stat["desc"] }} </p>
                    <p> Staty</p>
                </div>
                <div class="column">
                    <div id='{{ stat["name"] }}plot' class='{{ stat["name"] }}plot'></div>

                    <script type='text/javascript'>                               
                        plotPlotly({{ stat["plot"] | safe }}, "{{ stat["name"] }}plot")
                    </script>
                </div>

                <div class="columns block">
                    
                    <div class = "column is-half">
                        <p class="title is-4">Top values</p>
                        <table class="table top-table is-fullwidth">
                            <thead>
                                <tr> 
                                    <td> 1. </td> 
                                    <td> {{ stat["top_titles"][0][0] }} by {{ stat["top_artists"][0][0] }}</td>
                                    <td> {{ stat["top_values"][0][0]}} </td>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(1, stat["top_values"][0]|length) %}
                                    <tr> 
                                        <td> {{ i+1 }}</td> 
                                        <td> {{ stat["top_titles"][0][i] }} by {{ stat["top_artists"][0][i] }}</td>
                                        <td> {{ stat["top_values"][0][i]}} </td>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>  
                        <p class="title is-4">Lowest values</p>
                            <table class="table top-table is-fullwidth">
                                <thead>
                                    <tr> 
                                        <td> 1. </td> 
                                        <td> {{ stat["bot_titles"][0][0] }} by {{ stat["bot_artists"][0][0] }}</td>
                                        <td> {{ stat["bot_values"][0][0]}} </td>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in range(1, stat["bot_values"][0]|length) %}
                                        <tr> 
                                            <td> {{ i+1 }}</td> 
                                            <td> {{ stat["bot_titles"][0][i] }} by {{ stat["bot_artists"][0][i] }}</td>
                                            <td> {{ stat["bot_values"][0][i]}} </td>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                    
                    <div class = "column is-half">
                        <p class="title is-4">Top values</p>
                        <table class="table top-table is-fullwidth">
                            <thead>
                                <tr> 
                                    <td> 1. </td> 
                                    <td> {{ stat["top_titles"][1][0] }} by {{ stat["top_artists"][1][0] }}</td>
                                    <td> {{ stat["top_values"][1][0]}} </td>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(1, stat["top_values"][1]|length) %}
                                    <tr> 
                                        <td> {{ i+1 }}</td> 
                                        <td> {{ stat["top_titles"][1][i] }} by {{ stat["top_artists"][1][i] }}</td>
                                        <td> {{ stat["top_values"][1][i]}} </td>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>  
                        <p class="title is-4">Lowest values</p>
                            <table class="table top-table is-fullwidth">
                                <thead>
                                    <tr> 
                                        <td> 1. </td> 
                                        <td> {{ stat["bot_titles"][1][0] }} by {{ stat["bot_artists"][1][0] }}</td>
                                        <td> {{ stat["bot_values"][1][0]}} </td>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in range(1, stat["bot_values"][1]|length) %}
                                        <tr> 
                                            <td> {{ i+1 }}</td> 
                                            <td> {{ stat["bot_titles"][1][i] }} by {{ stat["bot_artists"][1][i] }}</td>
                                            <td> {{ stat["bot_values"][1][i]}} </td>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>  

                
            </div>                    
        {% endfor %}
    </div>
    
</div>

{% endblock %}