{% extends "base.html" %}

{% from 'macros.html' import render_top_table_comp %}

{% block content %}

<div class="column is-10 is-offset-1">
    <div name="playlist-info" class="columns block is-comp">
        <div class="column is-half red-border">
            <div class="img-playlist-cover">
                <figure class="image is-inline-block">
                    <img src="{{ playlists_info[0]['img_url']}}">
                </figure>
            </div>
        </div>
        <div class="column is-half blue-border">
            <div class="img-playlist-cover">
                <figure class="image is-inline-block">
                    <img src="{{ playlists_info[1]['img_url']}}">
                </figure>
            </div>
        </div>
    </div>

    <div name="playlist-info" class="columns block">
        <div class="columns column has-text-left is-half">
            <div class="column is-8 is-offset-2">
                <p class = "title is-1"> <a href="{{ playlists_info[0]['url'] }}" class="no-hover-links" target="_blank"> {{ playlists_info[0]['name'] }} </a> </p>
                <p class = "subtitle is-3"> created by {{ playlists_info[0]['creator'] }}</p>
                <p> Total count: {{ playlists_info[0]['total_count'] }} tracks. </p>
                <p> Total duration: {{ playlists_info[0]['hours'] }} hours and {{ playlists_info[0]['minutes'] }} minutes. </p>
            </div>
        </div>
        <div class="columns column has-text-left is-half">
            <div class="column is-8 is-offset-2">
                <p class = "title is-1"> <a href="{{ playlists_info[1]['url'] }}" class="no-hover-links" target="_blank"> {{ playlists_info[1]['name'] }} </a> </p>
                <p class = "subtitle is-3"> created by {{ playlists_info[1]['creator'] }}</p>
                <p> Total count: {{ playlists_info[1]['total_count'] }} tracks. </p>
                <p> Total duration: {{ playlists_info[1]['hours'] }} hours and {{ playlists_info[1]['minutes'] }} minutes. </p>
            </div>
        </div>
    </div>

    <div name="playlist-comp-top" class="columns block comp-top is-comp">
        <div class="column">
            <div class="block red-border">
                <p class = "title is-4"> Top artists </p>

                <div class="img-playlist-cover img-playlist-cover-small block">
                    <figure class="image is-inline-block">
                        <img src="{{ playlists_info[0]['top_artist'][0]['url_photo']}}">
                    </figure>
                </div>

                <table class="table top-table is-fullwidth">
                    <tbody>
                        {% for artist in playlists_info[0]['top_artist'] %}
                            <tr> 
                                <td> {{ loop.index }}. </td> 
                                <td> {{ artist["name"] }}.</td>
                                <td> {{ artist["count"] }} tracks.</td>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="block red-border">
                <p class = "title is-4"> Top albums </p>
                <div class="img-playlist-cover img-playlist-cover-small block">
                    <figure class="image is-inline-block">
                        <img src="{{ playlists_info[0]['top_album'][0]['url_photo']}}">
                    </figure>
                </div>
                <table class="table top-table is-fullwidth">
                    {% for album in playlists_info[0]['top_album'] %}
                        <tr> 
                            <td> {{ loop.index }}. </td> 
                            <td> {{ album["name"] }} 
                                <span class="band-name">{{ album["artist"]}}.</span> </td>
                            <td> {{ album["count"] }} tracks.</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            
        </div>
        <div class="column blue-border">
            <div class="block">
                <p class = "title is-4"> Top artists </p>

                <div class="img-playlist-cover img-playlist-cover-small block">
                    <figure class="image is-inline-block">
                        <img src="{{ playlists_info[1]['top_artist'][0]['url_photo']}}">
                    </figure>
                </div>

                <table class="table top-table is-fullwidth">
                    <tbody>
                        {% for artist in playlists_info[1]['top_artist'] %}
                            <tr> 
                                <td> {{ loop.index }}. </td> 
                                <td> {{ artist["name"] }}</td>
                                <td> {{ artist["count"] }} tracks.</td>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="block">
                <p class = "title is-4"> Top albums </p>
                <div class="img-playlist-cover img-playlist-cover-small block">
                    <figure class="image is-inline-block">
                        <img src="{{ playlists_info[1]['top_album'][0]['url_photo']}}">
                    </figure>
                </div>
                <table class="table top-table is-fullwidth">
                    {% for album in playlists_info[1]['top_album'] %}
                        <tr> 
                            <td> {{ loop.index }}. </td> 
                            <td> {{ album["name"] }} 
                                <span class="band-name">{{ album["artist"]}}.</span> </td>
                            <td> {{ album["count"] }} tracks.</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="content block">
        <p> Playlist n1 contains songs of n unique artists and n unique albums. 
            Playlist n2 contains songs of n unique artists and from n unique albums. 
            Tracks made by n artists appear on both playlists.</p>
        <p> Total number of n songs appear on playlist n1. Total number of n songs appear on playlist n2. There is n songs that
            appear on both playlists.
        </p>
    </div>


    <div name="audio-parameters" class="block">
        {% for stat in statistics_data %}
            <div class="block">
                <div>
                    <p class = "title is-2">{{ stat["name"] |capitalize }} </p>
                    <p> {{stat["desc"] }} </p>
                    <p> Staty</p>
                </div>
                <div class="column">
                    <div id='{{ stat["name"] }}plot' class='{{ stat["name"] }}plot'></div>

                    <script type='text/javascript'>                               
                        plotPlotly({{ stat["plot"] | safe }}, "{{ stat["name"] }}plot")
                    </script>
                </div>

                <div class="columns block">
                    
                    <div class = "column is-half">
                        <p class="title is-4">Top values</p>
                        {{ render_top_table_comp(stat, 0, "top_titles", "top_artists", "top_values") }}
                        <p class="title is-4">Lowest values</p>
                        {{ render_top_table_comp(stat, 0, "bot_titles", "bot_artists", "bot_values") }}
                    </div>
                    
                    <div class = "column is-half">
                        <p class="title is-4">Top values</p>
                        {{ render_top_table_comp(stat, 1, "top_titles", "top_artists", "top_values") }}
                        <p class="title is-4">Lowest values</p>
                        {{ render_top_table_comp(stat, 1, "bot_titles", "bot_artists", "bot_values") }}
                    </div>
                </div>  

                
            </div>                    
        {% endfor %}
    </div>
    <div name="radar" id = "radar" class="block">
        
    </div>
    <script type='text/javascript'>
        plotPlotly({{ radar | safe }}, 'radar');
    </script>
    
    
</div>

{% endblock %}